{# {% extends 'base.html.twig' %}
    {% block title %} {{ title }} {% endblock title %}
    {% block body %}
    <h1>{{ title | upper }}</h1>
    <p>Almost all the crises we have come from joining an aspect of the ego that no longer functions as the person we think we are.</p>
    <p>The word ego is derived from ancient Greek, meaning ‘I’, in the sense that you might say “I am going to the shops”. Freud popularised the word ‘ego’ when he referred to it as the conscious mind (thoughts) or the awareness that we are a being with an identity, living whatever way of life we happen to be living right now. This in itself doesn’t seem like a problem, does it? If we’re going to live in the modern world, have a job, a family, friends and aspirations, then having some amount of ego is absolutely necessary.</p>
    <p>In fact, it's not the ego itself that's the problem, it's our over-identification with, and attachment to, the story that comes with it.</p>

    {% endblock body %} #}