{% extends 'base.html.twig' %}
    {% block body %}
    <h1>{{ title }}</h1>
    <p>Almost all the crises we have come from joining an aspect of the ego that no longer functions as the person we think we are.</p>

    {% endblock body %}
